<footer>
    <p class="text-xs-center">©Copyright 2019. All rights reserved,Mary Dorcas Sinaida.</p>
    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" style="font-size:30px;"></i></a>
        <a href="https://www.instagram.com/accounts/login/?hl=en" target="_blank"><i id="icon" class="fa fa-instagram"
                style="font-size:30px;"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i id="tube" class="fa fa-youtube-square"
                style="font-size:30px"></i></a>
        <a href="https://github.com/" target="_blank"><i id="hub" class="fa fa-github-square"
                style="font-size: 30px"></i></a>
        <a href="https://twitter.com/login" target="_blank"><i id="twitt" class="fa fa-twitter" style="font-size:30px;"></i></a>
</footer>