footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
#icon{
    color:rgb(225,48,108);
   }
   #tube{
       color: red;
   }
   #hub{
       color:black;
   }
   #twitt{
       color: blue;
   }
   .myicons2 {
    position: absolute;
    left: 40%;
}

.myicons2 a i{
    margin-right: 10px;
}
   