<app-user></app-user>
















<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="jumbotron me text-center text-white bg-info m-0">
  <h1>Github Search</h1>
  <hr>
  <p>An application that allows you to search for github users and repositories</p>
</div>
  <!-- <app-hub-form (emitSearch)="searchUser($event)"></app-hub-form>
<div class="card">
  <div class="card-header text-center text-white why bg-dark">
    <span *ngIf="user.name" class="name"> <span class="text-primary">Name</span >:{{user.name}}  <span class="text-primary">Username</span>:{{user.login}}</span>

  </div>  
 --> -->
