<div *ngIf="user">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{user.name}}<small>({{user.login}})</small>
            {{user.location}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{user.avatar_url}}" class="img-circle  img-responsive" alt="user Image">
                </div>
                <div class="col-md-5">
                    <ul class="list-group">

                        <li class="list-group-item" *ngIf="user.bio">{{user.bio}}</li>
                        <li class="list-group-item" *ngIf="user.hireable">Available for hire</li>
                        <li class="list-group-item" *ngIf="user.blog"><a href="{{user.blog}}"
                                target="blank">{{user.blog}}</a></li>
                        <li class="list-group-item" *ngIf="user.email"><a href="emailto:>{{user.email}}">{{user.email}}</a></li>

                    </ul>
                </div>
                <div class ="col-md-4"></div>

            </div>
        </div>
    </div>


</div>