<div *ngIf="user">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{user.name}}<small>({{user.login}})</small>
            {{user.location}}
        </div>
        <div class="panel-body">
            <div class = "row">
                <div class="col-md-3">
                  <img src="{{user.avatar_url}}" class = "img-circle  img-responsive" alt="user Image"> 
                </div>
                <div class = "col-md-5">
                    ul
                </div>

            </div>
        </div>
    </div>


</div>
















